
.form {
    position: relative;
    display: flex;
    gap: 2px;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    @media (min-width: 768px) {
        flex-direction: row;
      }
}

.invoice {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex:1;
    margin-top: 0.5rem;
    border-radius: 0.375rem;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 1px 2px 0 rgb(0,0,0,0.05);
};
   


.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
    @media (min-width: 768px) {
        flex-direction: row;
      }
}
.number{
    display: flex;
    align-self: auto;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.centre{
    text-align: center;
}
.title{
    font-weight: 700;
}
.invoiceNo{
    max-width: 130px;
}
.inv{
    font-size: 1.125rem;
    line-height: 1.5;
}
.details{
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1 fr));
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.cashier{
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 700;
    @media(min-width: 640px){
        font-size: 1rem;
            line-height: 1.5;
    }
}
.input{
    flex: 1;
}

.customer{
    grid-column-start: 2;
    grid-row-start: 1;
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 700;
    @media (min-width: 768px) {
        .md\\:text-base {
          font-size: 1rem; /* 16px at 16px base font size */
          line-height: 1.5;
        }
    }
};

  
.table{
    width: 100%;
    padding: 1rem;
    text-align: left;
};
.row{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgba(17, 24, 39, 0.1);
    font-size: 0.875rem;
    line-height: 1.5;
    @media (min-width: 768px) {
        .md\\:text-base {
          font-size: 1rem; /* 16px at 16px base font size */
          line-height: 1.5;
        }
    }
};
  
.add_button{
    border-radius: 0.375rem;
    background-color: #3b82f6;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}
.summary{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0.5rem;
    padding-top: 1.5rem;
}
.subsummary{
    display: flex;
    width: 100%;
    justify-content: space-between;
    width:50%;
}
.total{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: rgba(34, 34, 34, 0.1);
    padding-top: 0.5rem;
    width: 50%;
}
.review_button{
    width: 100%;
    border-radius: 0.375rem;
    background-color: #3b82f6;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
}
.review_button:hover{
    background-color: #2563eb;
}

.percent{
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    background-color: #edf2f7;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #a0aec0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.footer{
    flex-basis: 25%;
    background-color: transparent;
}  
.subfooter-1{
    position: sticky;
    top: 0;
    z-index: 10;
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    border-top-width: 0.125rem;
    border-color: rgba(0, 0, 0, 0.05);
    --tw-divide-opacity: 0.1;
    border-color: rgba(34, 34, 34, var(--tw-divide-opacity));
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
}
.subfooter-2{
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.subsub{
    --space-y-reverse: 0;
    margin-top: calc(0.5rem * var(--space-y-reverse));
    margin-bottom: calc(0.5rem * (1 - var(--space-y-reverse)));
}

.sub-label{
    font-weight: 700;
    font-size: 0.875rem;
    @media (min-width: 768px) {
        font-size: 1.125rem;
      }
}
.sub-value{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sub-input{
    width: 50%;
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff; */
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); */
}

#item-name{
    width: 100%;
}
#item-qty{
    min-width: 65px;
    @media (min-width: 768px) {
        min-width: 80px;
      }
}
#item-price{
    /* position: relative; */
    min-width: 100px;
    @media (min-width: 768px) {
        min-width: 150px;
      }
}
#dollar-sign{
    position: absolute;
    left: 0.5rem;
    top: 50%;
    height: 1.5rem;
    width: 1.5rem;
    transform: translateY(-50%);
    color: #CBD5E0;
    @media (min-width: 640px) {
        left: 1rem;
      }
}

#item-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
#delete-button{
    border-radius: 0.375rem;
    background-color: #EF4444;
    padding: 0.5rem;
    color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

#delete-button:hover{
    background-color: #dc2626;
}

#delete-img{
    height: 10px;
    width: 10px;
}
#percent{
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
/* invoice modal */
#dialog{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow-y: auto;
}

.transition{
    min-height: 100vh;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dialog-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.span{
    display: inline-block;
    height: 100vh;
    vertical-align: middle;
}

/* Invoice Modal */
.invoice-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    width: 100%;
    max-width: 28rem;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    overflow: hidden;
    border-radius: 0.5rem;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    text-align: left;
    vertical-align: middle;
    --shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: var(--shadow);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.invoice-sub-container{
    padding: 1rem;
}

.invoice-title{
    text-align: center;
    font-size: 1.875rem; /* 30px */
    font-weight: 700;
    color: #1f2937;
}

.invoice-info{
    margin-top: 1.5rem;
}

.invoice-sub-info{
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.wide{
    width:100%;
}

.invoice-row{
    border-style: solid;
    border-width: 0 0 0 var(--border-width, 1px);
    border-color: rgba(0, 0, 0, 0.1);
    font-size: 0.875rem;
    @media (min-width: 768px) {
    font-size: 1rem;
    }
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.m50{
    min-width: 50px;
}

.m80{
    min-width: 80px;
}

.m90{
    min-width: 90px;
}

.invoice-footer{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
}

.invoice-subfooter1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    padding-top: 0.5rem;
}

.invoice-subfooter2{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.invoice-buttons{
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
}

.invoice-pdf-button{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 0.25rem;
    border-radius: 0.375rem;
    border-width: 1px;
    border-style: solid;
    border-color: #3b82f6;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.invoice-pdf-button:hover{
    --tw-bg-opacity: 1;
    background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}